{name, "erlv8"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "Erlang interface for V8"}.
{homepage, "http://beamjs.org/"}.
{rebar_compatible, true}.
{license, "BS2", "LICENSE"}.
{url, {git, "https://github.com/beamjs/erlv8.git", {branch, "master"}}}.
{applications, [erlv8]}.
{caveats,"Early alpha. Known to be unstable, particularly on Linux. Use with caution"}.
